#python code owners
pynvjitlink/            @rapidsai/pynvjitlink-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/pynvjitlink-write
**/cmake/          @rapidsai/pynvjitlink-write

#build/ops code owners
.github/           @rapidsai/ops-codeowners 
