#python code owners
/pynvjitlink/ @rapidsai/pynvjitlink-write

#cmake code owners
**/CMakeLists.txt @rapidsai/pynvjitlink-write
**/cmake/         @rapidsai/pynvjitlink-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners
